* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 20px 30px;
}

ul {
    max-width: 300px;
}

li {
    display: flex;
    justify-content: space-between;
}

.done_line-through {
    text-decoration: line-through;
}