/* Regole generali pagina */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 20px 30px;
}

/* Regole logo */
img {
    max-width: 200px;
}

/* Regole sezione input */
input {
    margin-bottom: 10px;
    margin-right: 10px;
}

#bottoneAggiungi {
    padding: 2px 10px;
}

/* Regole messaggio errore */
.errore {
    color: red;
}

/* Regole lista */
ul {
    max-width: 300px;
}

li {
    display: flex;
    justify-content: space-between;
}

span {
    cursor: pointer;
}

.done_line-through {
    text-decoration: line-through;
}