<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="css/style.css">
        <title>Esercizio 37</title>
    </head>

    <body>
        
        <!-- Contenitore dove è anche montata createApp -->
        <div id="app">

            <!-- Logo -->
            <div>
                <img :src="percorsoLogo" alt="logo">
            </div>

            <!-- Input e pulsante aggiungi -->
            <input v-model="newTask" @keyup.enter="aggiungiTask" type="text" placeholder="Inserisci una task">
            <input @click="aggiungiTask" id="bottoneAggiungi" type="button" value="Aggiungi">
            <!-- Messaggio errore -->
            <div class="errore" v-if="errore">
                Inserisci una task che abbia almeno 5 caratteri e/o una task diversa da quelle già presenti
            </div>

            <!-- Lista To Do -->
            <ul>
                <li class="item "v-for="(task, idx) in tasks">
                    <span @click="cambiaStato(task)" :class="task.done ? 'done_line-through' : ''">{{task.text}}</span>
                    <i @click.stop="rimuoviItem(idx)" class="fa-solid fa-xmark"></i>
                </li>
            </ul>
            <!-- Messaggio se lista è vuota -->
            <div v-if="tasks.length === 0">Nessuna task presente</div>
        </div>

        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <script src="js/main.js"></script>

    </body>
</html>